<form (ngSubmit)="submitReview()">
  <div class="mb-3 d-flex align-items-center">
    <label class="form-label me-2 align-middle" for="status">Status</label>
    <select class="form-select" id="status" name="status" [(ngModel)]="formData.status">
      <option value="approve">Approve</option>
      <option value="deny">Deny</option>
    </select>
  </div>
  <table class="table table-sm">
    <thead>
    <tr>
      <th>Cluster</th>
      <th>Requested SUs</th>
      <th>Awarded SUs</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let resource of formData.computeResources">
      <td>{{ resource.cluster }}</td>
      <td>{{ resource.requestedSu | number }}</td>
      <td>
        <input type="text" class="form-control" [(ngModel)]="resource.awardedSu" name="awardedSUs{{ resource.cluster }}">
      </td>
    </tr>
    </tbody>
  </table>
  <div class="mb-3">
    <textarea class="form-control" [(ngModel)]="formData.comments" name="comments" rows="3" placeholder="Enter review comments here"></textarea>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
    <button type="submit" class="btn btn-primary">Submit</button>
  </div>
</form>
