<app-layout-side-nav>
  <h1 class="h3">Rotational Energies In Nearby Satellite Galaxies <span class="text-secondary">(#1425)</span></h1>

  <div class="row my-4">
    <div class="col-lg-4 mx-lg-3">
      <table class="table table-borderless table-sm align-middle">
        <tbody>
        <tr>
          <td style="width: 9rem"><strong>Status:</strong></td>
          <td>Pending</td>
        </tr>
        <tr>
          <td style="width: 9rem"><strong>Research Group:</strong></td>
          <td>DJPerrefort</td>
        </tr>
        <tr>
          <td><strong>Group Delegate:</strong></td>
          <td>Daniel Perrefort</td>
        </tr>
        <tr>
          <td><strong>Department:</strong></td>
          <td>Dept. of Physics and Astronomy</td>
        </tr>
        <tr>
          <td><strong>Submission Date:</strong></td>
          <td>June 24, 2024</td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="col-lg-7 mx-lg-3">
      <table class="table">
        <thead>
        <tr>
          <th class="pt-0" scope="col">Cluster</th>
          <th class="pt-0" scope="col">Requested SUs</th>
          <th class="pt-0" scope="col">Awarded SUs</th>
          <th class="pt-0" scope="col">Utilized SUs</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>MPI</td>
          <td>100,000</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>SMP</td>
          <td>150,000</td>
          <td></td>
          <td></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="card" style="display: none">

    <div class="card-body">
      <h5>Review Allocation Request</h5>
      <p>General instructions for admins go in this paragraph.</p>
      <form>
        <div class="mb-3 d-flex align-items-center">
          <label class="form-label me-2 align-middle" for="status">Status</label>
          <select class="form-select" id="status" name="status">
            <option value="approved" selected>Approve</option>
            <option value="denied">Deny</option>
          </select>
        </div>
        <table class="table">
          <thead>
          <tr>
            <th class="pt-0" scope="col">Cluster</th>
            <th class="pt-0" scope="col">Requested SUs</th>
            <th class="pt-0" scope="col">Awarded SUs</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>MPI</td>
            <td>100,000</td>
            <td><input type="text" class="form-control" id="mpi_awarded_su" name="mpi_awarded_su" placeholder="Enter awarded SUs"></td>
          </tr>
          <tr>
            <td>SMP</td>
            <td>150,000</td>
            <td><input type="text" class="form-control" id="smp_awarded_su" name="smp_awarded_su" placeholder="Enter awarded SUs"></td>
          </tr>
          <tr>
            <td>HTC</td>
            <td>0</td>
            <td><input type="text" class="form-control" id="htc_awarded_su" name="htc_awarded_su" placeholder="Enter awarded SUs"></td>
          </tr>
          <tr>
            <td>GPU</td>
            <td>0</td>
            <td><input type="text" class="form-control" id="gpu_awarded_su" name="gpu_awarded_su" placeholder="Enter awarded SUs"></td>
          </tr>
          </tbody>
        </table>
        <div class="mb-3">
          <textarea class="form-control" id="review" rows="3" placeholder="Enter your comments here"></textarea>
        </div>
        <div class="text-end">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </form>
    </div>
  </div>




  <div class="row my-4">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item" role="presentation">
        <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">Submission</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">Historical Usage</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact" type="button" role="tab" aria-controls="contact" aria-selected="false">Discussion (2)</button>
      </li>
    </ul>
    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">

        <div class="row mt-4">
          <div class="col">
            <div class="card">

              <div class="card-body">
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque iaculis tristique dolor, tincidunt auctor est aliquet ac. Vestibulum a feugiat turpis. Sed interdum lorem sed finibus facilisis. Nam sagittis, lacus a porta semper, lacus dolor dapibus eros, quis tempus velit sapien feugiat odio. Morbi a augue nec risus scelerisque pretium in vel neque. Curabitur fermentum neque in dolor egestas, sit amet vehicula nisi ultrices. Donec pulvinar, enim quis imperdiet pellentesque, mi mauris eleifend enim, et tempus tortor tellus quis tellus. Maecenas euismod diam id libero mollis, non auctor libero facilisis. Donec in metus magna. Suspendisse sit amet consectetur lacus. Maecenas nec convallis magna, consequat sodales nisi.</p>
                <p class="card-text">Sed blandit venenatis dictum. Nulla sit amet urna id velit egestas aliquet. Fusce sodales odio diam, at auctor ex sodales id. Nullam facilisis massa eu sem pharetra pharetra. Aliquam in laoreet metus. Vivamus porta dolor at eros efficitur varius. Pellentesque tortor lectus, porttitor nec elit sed, malesuada aliquet massa. Maecenas vel nisi dignissim, fringilla odio ut, varius nisl. Suspendisse nisi purus, fermentum a finibus a, facilisis id nisi. Morbi tincidunt, nibh ac dignissim accumsan, nulla eros tristique nisi, vitae accumsan ante ipsum in lorem. Mauris rhoncus commodo massa nec efficitur. Cras orci dolor, imperdiet vitae augue et, auctor luctus leo. Aenean a risus quis lacus finibus semper eget eget ante. In dapibus ipsum quis turpis condimentum finibus.</p>
              </div>
              <div class="card-footer">

                <ul class="list-unstyled my-1 d-flex flex-row">
                  <li class="mx-1"><span class="text-muted">Attachments:</span></li>
                  <li class="mx-1"><a href="#">Attachment 1.pdf</a></li>
                  <li class="mx-1"><a href="#">Attachment 2.docx</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">...</div>
      <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
        <div class="card my-3">
          <div class="card-body">
            Gerald Ford
            <span class="float-end text-muted"><i class="bi bi-clock mx-1"></i> June 20th, 3:45 PM</span><br>
            <p class="card-text my-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque iaculis tristique dolor, tincidunt auctor est aliquet ac. Vestibulum a feugiat turpis. Sed interdum lorem sed finibus facilisis. Nam sagittis, lacus a porta semper, lacus dolor dapibus eros, quis tempus velit sapien feugiat odio. Morbi a augue nec risus scelerisque pretium in vel neque. Curabitur fermentum neque in dolor egestas, sit amet vehicula nisi ultrices. Donec pulvinar, enim quis imperdiet pellentesque, mi mauris eleifend enim, et tempus tortor tellus quis tellus. Maecenas euismod diam id libero mollis, non auctor libero facilisis. Donec in metus magna. Suspendisse sit amet consectetur lacus. Maecenas nec convallis magna, consequat sodales nisi.</p>
          </div>
        </div>

        <div class="card my-3">
          <div class="card-body">
            Gerald Ford
            <span class="float-end text-muted"><i class="bi bi-clock mx-1"></i> June 20th, 3:45 PM</span><br>
            <p class="card-text my-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque iaculis tristique dolor, tincidunt auctor est aliquet ac. Vestibulum a feugiat turpis. Sed interdum lorem sed finibus facilisis. Nam sagittis, lacus a porta semper, lacus dolor dapibus eros, quis tempus velit sapien feugiat odio. Morbi a augue nec risus scelerisque pretium in vel neque. Curabitur fermentum neque in dolor egestas, sit amet vehicula nisi ultrices. Donec pulvinar, enim quis imperdiet pellentesque, mi mauris eleifend enim, et tempus tortor tellus quis tellus. Maecenas euismod diam id libero mollis, non auctor libero facilisis. Donec in metus magna. Suspendisse sit amet consectetur lacus. Maecenas nec convallis magna, consequat sodales nisi.</p>
          </div>
        </div>

        <hr>

        <div class=" my-3">
          <form>
            <div class="mb-3">
              <textarea class="form-control" id="comments" rows="3" placeholder="Enter your comments here"></textarea>
            </div>
            <div class="text-end">
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
          </form>
        </div>

      </div>
    </div>
  </div>

</app-layout-side-nav>
