<app-layout-side-nav>

  <!-- Header section -->
  <div class="row">
    <div class="col">
      <h1 class="h3">{{ requestTitle }}
        <span class="badge rounded-pill" [ngClass]="{
        'bg-secondary': requestStatus === 'Pending',
        'bg-warning': requestStatus === 'Approved',
        'bg-success': requestStatus === 'Active',
        'bg-danger': requestStatus === 'Denied'
      }">
        {{ requestStatus }}
      </span>
      </h1>
    </div>
    <div class="col-xl-auto text-xl-end">
      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#reviewModal">
        Submit Review
      </button>
    </div>
  </div>

  <!-- Modal for submitting review -->
  <div *ngIf="isAdmin" class="modal fade" id="reviewModal" tabindex="-1" aria-labelledby="reviewModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="reviewModalLabel">Submit Review</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>General instructions for admins go in this paragraph.</p>
          <app-review-form [requestedResources]="requestedResources" (reviewSubmitted)="handleReviewSubmitted($event)"></app-review-form>
        </div>
      </div>
    </div>
  </div>

  <!-- Submission details section -->
  <div class="card my-4">
    <div class="card-header">
      <h2 class="h6 my-1">Submission Details</h2>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-xl-4">
          <table>
            <tbody>
            <tr>
              <td style="width: 8rem;"><strong>ID Number:</strong></td>
              <td>#{{ requestID }}</td>
            </tr>
            <tr>
              <td><strong>Submitted:</strong></td>
              <td>{{ requestDate | date }}</td>
            </tr>
            <tr>
              <td><strong>Group Name:</strong></td>
              <td>{{ requestGroup }}</td>
            </tr>
            </tbody>
          </table>
        </div>
        <div class="col-xl">
          <table>
            <tbody>
            <tr>
              <td style="width: 8rem;"><strong>Submitted by:</strong></td>
              <td>{{ submitterGroup }}</td>
            </tr>
            <tr>
              <td><strong>Department:</strong></td>
              <td>{{ submitterDepartment }}</td>
            </tr>
            <tr>
              <td><strong>Role/Position:</strong></td>
              <td>{{ submitterPosition }}</td>
            </tr>
            </tbody>
          </table>
        </div>
        <div class="col-xl-4">
          <table>
            <tbody>
            <tr>
              <td style="width: 8rem;"><strong>Reviewed On:</strong></td>
              <td>
                <span *ngIf="reviewDate; else noReviewedDate">{{ reviewDate | date }}</span>
                <ng-template #noReviewedDate>N/A</ng-template>
              </td>
            </tr>
            <tr>
              <td><strong>Start Date:</strong></td>
              <td>
                <span *ngIf="startDate; else noStartDate">{{ startDate | date }}</span>
                <ng-template #noStartDate>N/A</ng-template>
              </td>
            </tr>
            <tr>
              <td><strong>End Date:</strong></td>
              <td>
                <span *ngIf="endDate; else noEndDate">{{ endDate | date }}</span>
                <ng-template #noEndDate>N/A</ng-template>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <!-- Requested resources section -->
  <div class="card my-4">
    <div class="card-header">
      <h2 class="h6 my-1">Requested Resources</h2>
    </div>
    <div class="card-body">
      <p>
        The following table details the computational resources awarded under this request.
      </p>
      <table class="table">
        <thead>
        <tr>
          <th class="pt-0">Cluster</th>
          <th class="pt-0">Requested SUs</th>
          <th class="pt-0">Awarded SUs</th>
          <th class="pt-0">Utilization</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let data of requestedResources">
          <td>{{ data.cluster }}</td>
          <td>{{ data.requestedSUs | number }}</td>
          <td>
            <span *ngIf="data.awardedSUs !== null else noAwardedSus">{{ data.awardedSUs | number }}</span>
            <ng-template #noAwardedSus>--</ng-template>
          </td>
          <td>
            <div class="progress">
              <div
                  class="progress-bar"
                  role="progressbar"
                  [style.width.%]="data.utilization"
                  [attr.aria-valuenow]="data.utilization"
                  aria-valuemin="0"
                  aria-valuemax="100">
              </div>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

  <!-- Tabbed section for Justification, Insights, and Discussion -->
  <div class="row my-4">
    <!-- Tab selectors -->
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item" role="presentation">
        <button class="nav-link active" id="justification-tab" data-bs-toggle="tab" data-bs-target="#justification" type="button" role="tab" aria-controls="justification" aria-selected="true">Justification</button>
      </li>
      <li *ngIf="isAdmin" class="nav-item" role="presentation">
        <button class="nav-link" id="insights-tab" data-bs-toggle="tab" data-bs-target="#insights" type="button" role="tab" aria-controls="insights" aria-selected="false">Insights</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="discussion-tab" data-bs-toggle="tab" data-bs-target="#discussion" type="button" role="tab" aria-controls="discussion" aria-selected="false">
          Discussion <span *ngIf="comments.length">({{ comments.length }})</span>
        </button>
      </li>
    </ul>

    <!-- Tab content -->
    <div class="tab-content" id="myTabContent">
      <!-- Justification tab content -->
      <div class="tab-pane fade show active" id="justification" role="tabpanel" aria-labelledby="justification-tab">
        <div class="card my-3">
          <div class="card-body">
            <p *ngFor="let paragraph of justification">{{ paragraph }}</p>
          </div>
          <div class="card-footer">
            <ul class="list-unstyled my-1 d-flex flex-row">
              <li class="mx-1"><span class="text-muted">Attachments:</span></li>
              <li *ngFor="let file of attachments" class="mx-1"><a href="{{ file.url }}">{{ file.name }}</a></li>
            </ul>
          </div>
        </div>
      </div>

      <!-- Insights tab content -->
      <div *ngIf="isAdmin" class="tab-pane fade" id="insights" role="tabpanel" aria-labelledby="insights-tab">
        ...
      </div>

      <!-- Discussion tab content -->
      <div class="tab-pane fade" id="discussion" role="tabpanel" aria-labelledby="discussion-tab">
        <div *ngFor="let comment of comments" class="card my-3">
          <div class="card-body">
            {{ comment.author }}
            <span class="float-end text-muted"><i class="bi bi-clock mx-1"></i> {{ comment.dateTime | date:'short' }}</span><br>
            <p *ngFor="let paragraph of comment.content" class="card-text my-2">{{ paragraph }}</p>
          </div>
        </div>
        <hr>
        <!-- New Comment Form -->
        <div class="my-3">
          <form (ngSubmit)="handleCommentSubmitted()" #commentForm="ngForm">
            <div class="mb-3">
              <textarea class="form-control" id="newComment" rows="3" placeholder="Enter your comments here" name="newComment" [(ngModel)]="newComment"></textarea>
            </div>
            <div class="text-end">
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
          </form>
        </div>
      </div>

    </div>
  </div>

</app-layout-side-nav>
