<div class="sidebar bg-primary text-white" [class.active]="isActive" role="navigation">
  <div class="d-flex flex-column flex-shrink-0 p-4">

    <!-- Sidebar user/research group section -->
    <div class="sidebar-section-user mt-1 mb-4">
      <div class="d-flex align-items-center">
        <div class="flex-shrink-0">
          <img [src]="userImageUrl" width="40" height="40" alt="" class="rounded">
        </div>
        <div class="flex-grow-1 ps-2">
          <div class="fw-bold">{{ firstName }}</div>
          <div><span class="me-1">&commat;</span>{{ username }}</div>
        </div>
      </div>
    </div>

    <!-- Sidebar navigation links -->
    <ng-container *ngFor="let navSection of navStructure">
      <div class="my-2">
        <div class="fw-bold">{{ navSection.title }}</div>
        <ul class="d-flex flex-column nav nav-pills">
          <li class="nav-item my-0" *ngFor="let navItem of navSection.links">
            <a [routerLink]="navItem.href" class="nav-link py-2">
              <i class="bi bi-{{ navItem.icon }} align-middle"></i>
              <span class="align-middle mx-2">{{ navItem.text }}</span>
            </a>
          </li>
        </ul>
      </div>
    </ng-container>

  </div>
</div>
