@import "variables";

.sidebar {
  position: fixed;
  overflow: auto;
  top: $topnav-height;
  width: $sidebar-width;
  height: calc(100% - $topnav-height);
  transform: translateX(-100%); /* Initially hide the sidebar */
  transition: transform 0.3s ease-in-out;
  z-index: 2000; // Default bootstrap indices are in the 1000-1999 range

  &.active {
    transform: translateX(0); /* Show the sidebar when active */
  }

  @media (min-width: 992px) {
    transform: translateX(0); /* Always show the sidebar on larger screens */
  }
}

.nav-link {
  border: none;
}

.nav-link:hover {
  background-color: $sidebar-bg-light;
  color: $sidebar-bg-dark;
}
