<nav id="sidebar" class="sidebar">
  <div class="sidebar-content">
    <a class="sidebar-brand" href="index.html">
      <span class="align-middle">Keystone</span>
    </a>

    <ul class="sidebar-nav">
      <ng-container *ngFor="let navSection of navStructure | keyvalue">
        <li class="sidebar-header">
          {{ navSection.key }}
        </li>
        <li *ngFor="let navItem of navSection.value | keyvalue" class="sidebar-item">
          <a class="sidebar-link" href="{{ navItem.value['href'] }}">
            <bi name="{{ navItem.value['icon'] }}" ></bi>
            <span class="align-middle">{{ navItem.key }}</span>
          </a>
        </li>
      </ng-container>
    </ul>
  </div>
</nav>
