<div class="sidebar">
  <div class="d-flex flex-column flex-shrink-0 p-3">

    <!-- Sidebar navigation links -->
    <ul class="nav nav-pills flex-column mb-auto">
      <ng-container *ngFor="let navSection of navStructure">
        <li>
          {{ navSection['title'] }}
        </li>
        <li *ngFor="let navItem of navSection['links'] | keyvalue">
          <a href="{{ navItem.value['href'] }}" class="nav-link">
            <i class="bi bi-{{ navItem.value['icon'] }} align-middle"></i>
            <span class="align-middle">{{ navItem.key }}</span>
          </a>
        </li>
      </ng-container>
    </ul>

    <!-- Sidebar footer -->
    <hr>
    <div>
      {{ version }}
    </div>
  </div>
</div>
