<div class="sidebar">
  <div class="d-flex flex-column flex-shrink-0 p-3">
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-header">Overview</li>
      <li class="nav-item">
        <a href="#" class="nav-link active" aria-current="page">
          <i class="bi bi-speedometer"></i>
          Dashboard
        </a>
      </li>
      <li class="nav-header">Compute Resources</li>
      <li>
        <a href="#" class="nav-link">
          <i class="bi bi-arrow-clockwise"></i>
          Allocation Requests
        </a>
      </li>
      <li>
        <a href="#" class="nav-link">
          <i class="bi bi-bar-chart"></i>
          Resource Usage
        </a>
      </li>
      <li>
        <a href="#" class="nav-link">
          <i class="bi bi-coin"></i>
          Job History
        </a>
      </li>
      <li class="nav-header">Research Products</li>
      <li>
        <a href="#" class="nav-link">
          <i class="bi bi-journal-text"></i>
          Publications
        </a>
      </li>
      <li>
        <a href="#" class="nav-link">
          <i class="bi bi-coin"></i>
          Grants
        </a>
      </li>
    </ul>
    <hr>
    <div class="sidenav-footer">
      {{ version }}
    </div>
  </div>
</div>
