<nav class="navbar navbar-expand-lg bg-white border-bottom fixed-top px-3">
  <div class="container-fluid">

    <!-- Navbar toggle button for mobile view -->
    <button class="navbar-toggler" type="button" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <i class="bi bi-list"></i>
    </button>

    <!-- Navbar brand (logo) -->
    <a class="navbar-brand" href="/">Keystone</a>

    <!-- Navbar user dropdown -->
    <ul class="navbar-nav">
      <li class="nav-item dropdown">
        <a href="" class="d-block link-dark text-decoration-none" id="dropdownUser" data-bs-toggle="dropdown" aria-expanded="false">
          <i class="bi bi-gear h4"></i>
        </a>
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownUser">
          <li>
            <a class="dropdown-item" href="#"><i class="bi bi-person"></i>Profile</a>
          </li>
          <li>
            <a class="dropdown-item" href="#"><i class="bi bi-envelope"></i>
              Notifications
              <span class="badge rounded-pill bg-danger px-2">
                99+
                <span class="visually-hidden">unread messages</span>
              </span>
            </a>
          </li>
          <a class="dropdown-item" href="#"><i class="bi bi-gear"></i>Settings</a>
          <li>
            <hr class="dropdown-divider">
          </li>
          <li>
            <a class="dropdown-item" href="#"><i class="bi bi-box-arrow-right"></i>Sign Out</a>
          </li>
        </ul>
      </li>
    </ul>

  </div>
</nav>
