<nav class="navbar navbar-expand-lg bg-white border-bottom fixed-top px-3">
  <div class="container-fluid">

    <!-- Navbar toggle button for mobile view -->
    <button (click)="toggleSidebar()" class="navbar-toggler" type="button" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <i class="bi bi-list"></i>
    </button>

    <!-- Navbar brand (logo) -->
    <a class="navbar-brand" href="/">Keystone</a>

    <!-- Navbar dropdown -->
    <app-settings-dropdown></app-settings-dropdown>
  </div>
</nav>
