@import "variables";

.navbar {
  height: $topnav-height;
}

.navbar-brand {
  font-weight: 450;
  font-size: 1.5rem;
}

.dropdown-menu {
  min-width: 12rem;
}

.dropdown-item .bi {
  padding-right: .7rem;
}
