<app-layout-center-page>
  <div class="card">
    <div class="card-body">
      <div class="m-sm-3">
        <div class="text-center">
          <h1 class="navbar-brand fs-4">Keystone</h1>
          <p class="lead">Please sign in to continue</p>
          <p class="fw-bold text-danger">{{ errorMessage }}</p>
        </div>
        <form class="mt-4" (ngSubmit)="onSubmit()" ngNativeValidate>
          <div class="my-4">
            <label>Username</label>
            <input class="form-control" placeholder="Enter your username" [(ngModel)]="username" name="username" required autofocus/>
          </div>
          <div class="my-4">
            <label>Password</label>
            <input class="form-control" type="password" placeholder="Enter your password" [(ngModel)]="password" name="password" required/>
          </div>
          <div class="d-grid mt-5">
            <button class="btn btn-lg btn-primary" [disabled]="!submitButtonEnabled">
              <span *ngIf="showSubmitSpinner" class="spinner-border spinner-border-sm mx-2"></span>
              {{ submitButtonText }}
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</app-layout-center-page>
